<md-sidenav #sidenav mode="side" class="app-sidenav">
  <a routerLink="/" routerLinkActive="active">/</a>
  <a routerLink="/test" routerLinkActive="active">test</a>
  <a routerLink="/_ducks" routerLinkActive="active">ducks</a>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/calculator" routerLinkActive="active">Calculator</a>
  <a routerLink="/something" routerLinkActive="active">something</a>
</md-sidenav>
<md-toolbar color="primary">
  <button class="app-icon-button" (click)="sidenav.toggle()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button>

  Angular Material2 Example App

  <span class="app-toolbar-filler"></span>
  <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
</md-toolbar>
